{% extends "layout.html" %}
{% block title %}{{container|capitalize}}{% endblock %}
{% block content %}
<div class="small-12 medium-12 large-8 large-centered columns">
	<div class="callout">
	{% set span = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
		<span class="h6">Info</span><br>
		<strong>Status :</strong> <span class="label label-{{ span[infos.status] }}">{{ infos.status|capitalize }}</span>
		{% if infos.status != 'STOPPED' %}<li><strong>Pid :</strong> {{ infos.pid }}</li>
		<strong>Network :</strong> {% if settings.flags == 'up' %}<span class="label label-success">Up</span>{% else %}<span class="label label-important">Down</span>{% endif %}
		{% if infos.memusg %}<span id="{{ container }}"><strong>Mem. usage :</strong> {{ render_memory_wrapper(infos.memusg) }}</span>{% endif %}{% endif %}
		<span><strong>Arch :</strong> {{ settings.arch }}</span>
</div>
</div>

	<div class="small-12 medium-12 large-8 large-centered columns">
		{{ super() }}
		<h3 class="head">{{ container|capitalize }}
			<div class="small button-group right" data-toggle="buttons-radio">
				{% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
					<a class="success button{% if infos['status'] == 'RUNNING' %} disabled{% endif %}" {% if infos['status'] == 'STOPPED' or infos['status'] == 'FROZEN' %}href="{{ url_for('action', name=container, action=start_action[infos['status']], token=session.token, from='edit') }}"{% endif %}><i class="fa fa-play"></i> Start</a>
					<a class="alert button{% if infos['status'] == 'STOPPED' %} disabled{% endif %}" {% if infos['status'] == 'RUNNING' or infos['status'] == 'FROZEN' %}href="{{ url_for('action', name=container, action='stop', token=session.token, from='edit') }}"{% endif %}><i class="fa fa-stop"></i> Stop</a>
					<a class="button{% if infos['status'] == 'FROZEN' or infos['status'] == 'STOPPED' %} disabled{% endif %}" {% if infos['status'] == 'RUNNING' %}href="{{ url_for('action', name=container, action='freeze', token=session.token, from='edit') }}"{% endif %}><i class="fa fa-pause"></i> Freeze</a>
			</div>
		</h3>
	</div>
	<div class="small-12 medium-12 large-8 large-centered columns">
		<form id="config" action="{{ url_for('edit', container=container) }}" method="post">

				<label class="control-label" for="inputHostname">Hostname
					<input pattern="(?!^containers$)|^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$" type="text" id="inputHostname" name="hostname" value="{{ settings.utsname }}">
				</label>

				<label for="inputAutostart">Start at boot</label>
				<input type="checkbox" name="autostart" value="True" {% if settings.auto %}checked {% endif %}>


			<hr>

				<label for="inputNetworkFlags">Network flag</label>
				<input type="checkbox" id="inputNetworkFlags" name="flags" value="networkflag" checked>

			<div id="network">
					<label for="inputType">Network type
						<input pattern="\w+" type="text" id="inputType" name="type" value="{{ settings.type }}" placeholder="Undefined">
					</label>

					<label for="inputLink">Network link
						<input pattern="[a-zA-Z0-9_-]+" type="text" id="inputLink" name="link" value="{{ settings.link }}" placeholder="Undefined">
					</label>

					<label for="inputHWaddress">HW address
						<input pattern="([a-fA-F0-9]{2}[:|\-]?){6}" type="text" id="inputHWaddress" name="hwaddress" value="{{ settings.hwaddr }}" placeholder="Undefined">
					</label>

					<label for="inputIPaddress">IP address
						<input pattern="(^25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(/(3[0-2]|[12]?[0-9]))?$|(^Undefined$)" type="text" id="inputIPadress" name="ipaddress" value="{{ settings.ipv4 }}" placeholder="Undefined">
					</label>
				</div>

			<hr>
				<div class="row">
					<div class="small-4 medium-3 large-3 columns">
						<label>Memory limit <i class="fa fa-info-circle" data-toggle="memory-limit-dropdown"></i></label>
						<input type="checkbox" name="unlimitedMemory" id="unlimitedMemory" value="{{ host_memory.total }}" checked><label for="unlimitedMemory">Unlimited</label>
						<div class="dropdown-pane top" id="memory-limit-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
		  				<small>Uncheck to set manually.</small>
						</div>
					</div>
					<div class="small-8 medium-9 large-9 columns">
							<!-- <input pattern="[0-9]+" type="range" id="sliderMemlimit" name="memlimit" min="16" max="{{ host_memory.total }}" step="2" value="{% if settings.memlimit %}{{ settings.memlimit }}{% else %}{{ host_memory.total }}{% endif %}" onChange="updateMemInput('inputMemlimit', this.value, {{ host_memory.total }});"> -->
							<input pattern="[0-9]+" id="inputMemlimit" type="number" min="16" step="2" max="{{ host_memory.total }}" value="{% if settings.memlimit %}{{ settings.memlimit }}{% endif %}" onChange="updateMemSlider('sliderMemlimit', this.value);"><!--{% if settings.memlimit %}MB{% else %}Unlimited{% endif %}-->
							<!-- Commented out slider bar - may need to remove all or part of onChange function -->
					</div>
				</div>

				<div class="row">
					<div class="small-4 medium-3 large-3 columns">
						<label>Memory + Swap limit <i class="fa fa-info-circle" data-toggle="memory-swap-limit-dropdown"></i></label>
						<input type="checkbox" name="unlimitedMemSwap" id="unlimitedMemSwap" value="{{ host_memory.total *2 }}" checked><label for="unlimitedMemSwap">Unlimited</label>
						<div class="dropdown-pane top" id="memory-swap-limit-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
		  				<small>Uncheck to set manually.</small>
						</div>
					</div>
					<div class="small-8 medium-9 large-9 columns">
						<br>
							<!-- <input pattern="[0-9]+" type="range" id="sliderSwlimit" name="swlimit" min="32" max="{{ host_memory.total * 2 }}" step="2" value="{% if settings.swlimit %}{{ settings.swlimit }}{% else %}{{ host_memory.total * 2 }}{% endif %}" onChange="updateMemInput('inputSwlimit', this.value, {{ host_memory.total * 2 }});"> -->
							<input pattern="[0-9]+" id="inputSwlimit" type="number" min="32" step="2" max="{{ host_memory.total *2 }}" value="{% if settings.swlimit %}{{ settings.swlimit }}{% endif %}" onChange="updateMemSlider('sliderSwlimit', this.value);"><!-- {% if settings.swlimit %}MB{% else %}Unlimited{% endif %} -->
							<!-- Commented out slider bar - may need to remove all or part of onChange function -->
					</div>
				</div>

				<label class="control-label" for="inputCPUs">CPUs <i class="fa fa-info-circle" data-toggle="cpu-dropdown"></i> <small>(e.g 0 or 0-1,3 or 0,3)</small>
					<input pattern="[0-9,-]+" type="text" id="inputCPUs" name="cpus" value="{{ settings.cpus }}" placeholder="All">
				</label>
				<div class="dropdown-pane top" id="cpu-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
  				<small>Leave empty to unset.</small>
				</div>

				<label class="control-label" for="inputCPUShares">CPU Shares <i class="fa fa-info-circle" data-toggle="cpu-shares-dropdown"></i>
					<input pattern="[0-9]+" type="number" id="inputCPUShares" name="cpushares" min="16" step="2" value="{{ settings.shares }}" placeholder="1024">
				</label>
				<div class="dropdown-pane top" id="cpu-shares-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
  				<small>Leave empty to unset.</small>
				</div>

			<hr>

				<label class="control-label" for="inputRootfs">Root FS <small>(e.g /var/lib/lxc/{{container}}/rootfs)</small>
					<input pattern="[a-zA-Z0-9_/\-\.]+" type="text" id="inputRootfs" name="rootfs" value="{{ settings.rootfs }}">
				</label>

					<button class="primary button" name="submit" value="apply">Apply Changes</button>


		</form>


	</div>
</div>
{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value) -%}
	{% if value != 0 %}<span class="label label-{{ memory_color(value) }}">{{ value }} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
	<script src="{{ url_for('static', filename='js/bootstrapSwitch.js') }}"></script>
	<script type="text/javascript">
		{% if infos['status'] != 'STOPPED' %}
			function memory_color(value){
				if(value != 0)
					if ('0' <= value && value <= '512') return 'success';
					else if ('512' <= value && value < '1024') return 'warning';
					else return 'important';
			}

			function refreshMemory(container){
				$.getJSON($SCRIPT_ROOT + '/_refresh_memory_' + container, function(data) {
					var el = $('#'+container+' span');
					el.text(data.memusg+' MB');
					el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data.memusg));
				});
			}

			window.setInterval('refreshMemory("{{ container }}")', 5000);
		{% endif %}

		// Network flags - Believe this function can be removed 10/18
		// var network = $("#network");
		// $(".switch-network-flags").on('switch-change', function(e, data){
		//	if(data.value){
		//		$(data.el).val('up');
		//		network.delay(350).slideDown();
		//	}
		//	else{
		//		$(data.el).val('down');
		//		network.delay(350).slideUp();
		//	}
		// });

		$("#inputNetworkFlags").click(function(){
			$("#network").toggle();
		});

		$("#inputMemlimit").hide();
		$("#unlimitedMemory").click(function(){
			$("#inputMemlimit").toggle();
		});

		$("#inputSwlimit").hide();
		$("#unlimitedMemSwap").click(function(){
			$("#inputSwlimit").toggle();
		});

		function updateMemInput(elem, value, mem_total){
			if (value < mem_total) {
				$('#' + elem).val(value).show().next('.help-inline').text('MB');
			}
			else {
				$('#' + elem).val(mem_total).hide().next('.help-inline').text('Unlimited');
			}
		};

		function updateMemSlider(elem, value){
			$('#' + elem).val(value);
		};
	</script>
{% endblock %}
