{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="small-12 medium-10 medium-centered large-8 large-centered columns">
  {{ super() }}
  <div class="row">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
      <img src="/static/img/Gantry2.gif" width="100%" height="100%" alt="Gantry"/>
    </div>
  </div>
  <form action="{{ url_for('login') }}" method="POST" class="form-signin">
      <div class="row">
        <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
          <label>Username
            <input id="inputUsername" type="text" placeholder="Username" name="username" autofocus required>
          </label>
        </div>
        <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
          <label>Password
            <input id="inputPassword" type="password" placeholder="Password" name="password" required>
          </label>
          <input id="inputURL" type="hidden" name="url" value="{{ request.path }}">
          <input type="submit" class="expanded button" value="Log in"/>
        </div>
      </div>
    </form>

</div>
{% endblock %}
