{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="small-10 small-centered medium-10 medium-centered large-12 columns">
	<a class="primary button" data-open="newUser">New user</a>
</div>


{{ super() }}
<div class="row">
	<div class="small-10 small-centered medium-10 medium-centered large-12 columns">
		<ul class="accordion" data-accordion data-allow-all-closed="true">
			{% for user in users %}
		  <li class="accordion-item is-active" data-accordion-item>
				<a class="accordion-title" href="#{{ user.username }}">
					{% if user.name %}{{ user.name }} ({{ user.username }}){% else %}{{ user.username }}{% endif %}
				</a>
				<div id="{{ user.username }}" class="accordion-content{% if session.username == user.username %} in{% endif %}" data-tab-content>
					<form method="post" id="editUser">

						<div class="row">
							<div class="small-12 medium-6 large-6 columns">
									<label>Name
									<input type="hidden" name="username" value="{{ user.username }}">
									<input type="text" name="name" value="{{ user.name }}" pattern="[a-z A-Z0-9]{3,32}" placeholder="Name">
									</label>
								</div>
								<div class="small-12 medium-6 large-6 columns">
									<label>Permissions</label>
										<div class="switch switch-small" data-on="success" data-on-label="<i class='fa fa-star'></i>" data-off-label="<i class='fa fa-user'></i>">
											<input type="checkbox" name="su" value="Yes"{% if user.su == 'Yes' %} checked{% endif %}{% if (su_users.num < 2) and (user.su == 'Yes') %} disabled{% endif %}>
										</div>
									</label>

									<!-- The field below needs to replace the Permissions Switch above
									<fieldset>
								    <legend>Permissions</legend>
								    <input type="radio" name="permissions" value="Admin" checked{% if user.permissions == 'Admin' %} checked{% endif %} id="Admin" required><label for="Admin">Admin</label>
								    <input type="radio" name="permissions" value="Standard User" {% if (su_users.num < 2) and (user.permissions == 'Admin') %} disabled{% endif %} id="Standard"><label for="standard">Standard</label>
								  </fieldset>
									The above needs to replace the Permissions Switch -->
									
								</div>
							</div>


						<div class="row">
							<div class="small-12 medium-6 large-6 columns">
								<label>Password
									<input type="password" name="password1" id="password1-{{ user.id }}" placeholder="Password">
								</label>
							</div>
							<div class="small-12 medium-6 large-6 columns">
								<label>Confirm Password
									<input type="password" name="password2" placeholder="Re-type">
								</label>
							</div>
						</div>


								<input type="hidden" name="newUser" value="False">
								<button type="submit" class="primary button">Update</button>
								<a type="button" class="alert button right delete {% if (su_users.num < 2 and user.su == 'Yes') or nb_users.num <= 1 %} disabled{% endif %}" data-userid="{{ user.id }}" data-username="{{ user.username }}">Delete User</a>

					</form>
				</div>
		  </li>
		</ul>
		{% endfor %}
	</div>
</div>

{% include "includes/modal_new_user.html" %}
{% if nb_users.num > 1 %}{% include "includes/modal_delete.html" %}{% endif %}
{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='js/bootstrapSwitch.js') }}"></script>
	{% if nb_users.num > 1 %}
		<script type="text/javascript">
			var token = '{{ session.token }}';

			$(document).ready(function(){
				$(".delete").not('.disabled').on('click',function(e){
					var _this = $(this);
					$(".delete-link").attr('href',"/gantry/users?username="+ _this.data('username') +"&token="+ token +"&trash=1&userid="+ _this.data('userid'));
					$('#delete').modal('show');
				});
			});
		</script>
	{% endif %}
{% endblock %}
